/code/IR_kit/blurb.txt
/code/IR_kit/CRW_1929.jpg
/code/IR_kit/ir_capture.spin
/code/IR_kit/ir_oscope.spin
/code/IR_kit/ir_reader_demo.spin
/code/IR_kit/ir_reader_nec.spin
/code/IR_kit/ir_reader_rc5.spin
/code/IR_kit/ir_reader_sony.spin
/code/IR_kit/ir_tx_nec_demo.spin
/code/IR_kit/ir_tx_nec.spin
/code/IR_kit/ir_view_serial.spin
/code/IR_kit/ir_view.spin
/code/IR_kit/readme.abw
/code/IR_kit/readme.pdf
/code/IR_kit/serial_terminal.spin
/code/old/CylinderController.spin
/code/old/LedCylinder.spin
circuit/LED cylinder_v2.s#1
circuit/LED cylinder_v2.s#2
*~
*.binary

/circuit/LED cylinder_v2.s#3
